{
  "dev": {
    "driver": "pg",
    "host": "localhost",
    "database": "tensorscripts",
    "schema": "development"
  },

  "test": {
    "driver": "pg",
    "host": "localhost",
    "database": "tensorscripts",
    "schema": "test"
  },

  "prod": {
    "driver": "pg",
    "user": "NOT_YET_CONFIGURED",
    "password":"NOT_YET_CONFIGURED",
    "host": "localhost",
    "database": "tensorscripts",
    "schema": "production"
  }
}
